@charset "UTF-8";

.html, body{
    font-family: "Consolas";
    color: rgb(0, 0, 0);
    margin: 0;
}
/*Убрать полосу прокрутки для всей страницы*/
::-webkit-scrollbar {
    width: 0;
}



.main_start{ /*верхняя панель, НАЧАЛО*/
    position: relative;
    top: 5px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: #3CB371;
}       /*верхняя панель, КОНЕЦ*/



.zavod{ /*верхнее фото завода*/
    background-image: url(bg/img_main.png);
    width: 1280px;
    height: 600px;
    position: relative;
    margin: 0 auto;
}



.box_main{  /*сфера деятельности, НАЧАЛО*/
    position: relative;
    top: 10px;
    width: 1000px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    font-size: 22px;
}

.box{
    top: 50px;
    width:1000px;
    height: 100%;
    margin: 25px auto;
    position: relative;
    background-color: rgb(255, 255, 255);
    display: flex;
    
}

.item{
    width: 33%;
    height: 340px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
}

.box_img{
    width: 100px;
    height: 100px;
    float: center;
        
}       /*сфера деятельности, КОНЕЦ*/



.download_block{ /*скачать буклет, НАЧАЛО*/
    text-decoration: none;
    font-size: 24px;
    margin: 50px;
    text-align: center;
}       /*скачать буклет, КОНЕЦ*/



.box3_main{ /*почта, обратная связь НАЧАЛО*/
    width: 1000px;
    margin: 0 auto;
    
}

.form_mail{
    font-size: 30px;
    width: 310px;
    margin: 10px auto;
    text-align: center;
}

.mail{
    font-size: 20px;
    width: 200px;
    height: 30px;
    margin: 3px;
}   

.button_mail{
    width: 100px;
    height: 50px;
}       /*почта, обратная связь КОНЕЦ*/



.box4_phone{ /*номера телефонов, НАЧАЛО*/
    width: 100%;
    height: 100px;
    margin: 0 auto;
    background-color: #3CB371;
}

.phone{
    width: 600px;
    height: 98px;
    display: flex;    
}

.cont{
    display: fle;
    text-align: center;
    padding: 9px;
}

.number_ph{
    color: white;
    text-decoration: none;
    font-size: 24px;
    letter-spacing: 2px;
}       /*номера телефонов, КОНЕЦ*/

